$back-color: #333;
$body-color: #fff;
$border-line: 1px solid #555;
$box-shadow: #000 0 0 15px;
$font: 'Courier New', Courier, monospace;
$transition: width 0.5s, background-color 0.5s;
$menu-background-color: #777;
$header-margin: 0 10px;
$header-font-size: 20px;
$menu-br-rad: 6px;
$button-font-size: 12px;
$button-width: 80%;
$button-background-color: #ccf;
$button-color: #111;
$button-border-rad: 3px;
$button-hover-background-color: #ddf;
$button-hover-width: 85%;
$label-width: 80px;
$click-rad: 50%;
$click-background-color: #aaf;
